/* FONT */

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

/* ALL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0 auto;
    max-width: 1920px;
    background: #000000;
    font-family: 'Inter';
    font-size: 20px;
}

p {
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
}

/* MAIN */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    flex-grow: 1;

    
}

.main-container-image {
    max-width: 480px;
    max-height: 320px;
}

.main-container-button {
    width: 220px;
    height: 55px;
    background-color: #aaaaaa;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s;
}

.main-container-button:hover {
    color: #000000;

}

.en-ru {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 50px;
}

.switch-eng {
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

.switch-eng:hover {
    color: #bdae82;
}

.switch-eng.active-lang {
    color: #bdae82;
}

.switch {
    color: #ffffff;
}

.switch-ru {
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s;
}

.switch-ru:hover {
    color: #bdae82;
}

.switch-ru.active-lang {
    color: #bdae82;
}

/* FOOTER */

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 60px;
    color: #ffffff;
}

.footer-container-copy {
    color: #ffffff;
    padding: 0px 10px 0px 20px;
}

.footer-container-year {
    color: #ffffff;
    padding: 0px 10px;
}

.footer-container-github {
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.footer-container-github:hover {
    color: #bdae82;
}

.footer-container-rss {
    margin-left: auto;
}

.footer-container-rss-image {
    height: 50px;
    padding: 0px 20px;
    transition: 0.3s;
}

.footer-container-rss-image:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}