/* FONT */

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Merriweather-Regular.ttf");
    font-weight: 400;
}

/* ALL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
    background: #000000;
}

/* HEADER */

.header {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 60px;
    color: #ffffff;
    border: 1px solid red;
    background-image: url('./assets/svg/rss.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}